@mixin article-card ($color, $border-color, $size) {
    color: $color;
    border-color: $border-color;
    font-size: $size;
}

$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;

body {

    height: 100vh;
    font-size: 1rem;

    
    
    div.box {
        border: 2px solid $color-primary;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 50%;

        h1 {
            color: $color-tertiary;

            border-bottom: 3px solid $color-secondary;
            
        }
    

        section.main-container {
            display: flex;
            flex-direction: row;
            margin-left: 15px;
            margin-right: 15px;
            height: 145px;
            overflow: hidden;

            article.main-content {
                border: 1px solid;
                @include article-card($color-primary, $color-tertiary, inherit);

                p {
                    text-align: center;
                    padding-top: 25px;
                }

            }

            article.main-content:nth-child(1) {
                color: $color-secondary;
            }

            article.main-content:nth-child(2) {
                color: $color-primary;
            }

            article.main-content:nth-child(3) {
                color: $color-secondary;
            }

            article.main-content:nth-child(4) {
                color: $color-primary;
            }
        }

        section.footer-container {

            article.footer-article {
                border: 1px solid;
                @include article-card($color-tertiary, $color-secondary, 24px);
            }
        }
    }
}